version: "3.3"

services:
  db:
    image: postgres:16
    container_name: qa-postgres
    environment:
      POSTGRES_DB: ServiceDb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5430:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: qa-app
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: "5432"
      DB_USER: postgres
      DB_PASSWORD: password
      DB_NAME: ServiceDb
      PORT: ":8080"
    ports:
      - "8080:8080"

volumes:
  db_data:
